* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  /* background-image: url('https://www.innovatorsmag.com/wp-content/uploads/2017/11/osman-rana-263708.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: whitesmoke;
}

input{
  /* color:white; */
  /* margin: 10vh; */
}

.App{
  position: relative;
}

.App-header{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Grafo{
  width: 2000px;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.438);
  /* box-shadow: 0px 0px 10px 2px rgba(177, 114, 114, 0.904); */
  backdrop-filter: blur(50px);
  margin: auto;
  overflow: hidden;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

}
